* {
  /* border: 1px black solid; */
}

:root {
  --importance-high: #f44336 ;
  --importance-middle: #ffc107;
  --importance-low: #00bcd4;
}

.full {
  display: flex;
  min-height: 100vh;
}

.hidden {
  display: none !important;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  padding: 10px;
}

.sidebar button {
  margin: 5px 0;
}

.project-links {
  display: flex;
  flex-direction: column;
}

.project-links a {
  margin: 5px 0;
  text-align: center;
}

.main {
  flex-grow: 1;
}

.add-div {
  border: 2px black solid;
}

.add-div input,
.add-div button,
.add-div select {
  margin: 7px;
}

.top-inputs-div {
  margin: 10px;
  display: flex;
  align-items: center;
}

.top-inputs-div > * {
  margin-right: 10px;
}

.top-inputs-div [type='checkbox'] {
  margin: 5px;
}

.container {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
  margin-right: 10px;
  border-radius: 10px;
}

.container > * {
  margin: 10px;
}

.priority-high {
  background-color: var(--importance-high);
}

.priority-middle {
  background-color: var(--importance-middle);
}

.priority-low {
  background-color: var(--importance-low);
}

.completed {
  opacity: 0.5;
}

.todo-title {
  width: 40ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#title {
  display: block;
  width: 90%;
}

.opacity-80 {
  opacity: 80%;
}

.expanded {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.expanded > * {
  margin-bottom: 20px;
}

.todo-title {
  margin: 0 0 20px 0;
}